:root {
  color-scheme: dark;
  background-color: #242424;
}

body {
  background-color: #242424;
}

p {
  font-size: 20px;
}

h1 {
  font-size: 32px;
  color: rgba(255, 255, 255, 0.87);
  text-align: center;
  margin-top: 20px;
}

h2 {
  font-size: 22px;
  margin-top: 6px;
}

button {
  background: linear-gradient(to right, #99ff99, #029974);
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-weight: bold;
}

button:hover {
  border: 2px solid white;
}

.menu_button {	
  border: 2px solid black;
  padding: 10px 20px;
}

.menu_button:hover {
  border: 2px solid white;
}

.menu_close_button {
  font-family: Arial, sans-serif;
  border: none;
  font-size: 25px;
  font-weight: normal;
  padding: 0px 10px;
  background: none;
  color: black;
  margin-left: 95px;
}

.menu_close_button:hover {
  border: none;
  color: white;
}

.offcanvas {
  
  background: linear-gradient(to bottom, #99ff99, #029974);
  width: 210px !important;
}

.offcanvas-header {
  border-bottom: 2px solid black;
  padding: 20px;
}

.offcanvas-body {
  margin-top: 20px;
  padding: 5px;
}

.nav-link {
  color: black;
  font-size: 18px;
}

.nav-link:hover {
  color: white;
}

.navbar {
  background-color: #242424;
  position: absolute;
  top: 5px;
  left: 10px;
}

.carousel {
  margin-top: 20px;
  border: 5px solid;
  border-image: linear-gradient(to left, #99ff99, #029974) 1; 
}

.images {
  width: 100%;
  opacity: 1;
  height: auto;
  max-height: 700px;
}

.text-background {
  background-color: rgba(30, 30, 30, 0.7);
  padding: 10px;
  border-radius: 5px;
  width: fit-content;
  margin: auto;
  margin-top: 10px;
}

.card-container {
  justify-content: right-side;
}

.custom-card {
  padding: 25px;
  margin-top: 20px;
  left: 25%;
  width: 50%;
}

.card {
  background: linear-gradient(to right, #99ff99, #029974);
  color: rgba(0, 0, 0, 0.87);
  text-align: center;
  border-radius: 20px;
}

.container2 {
  width: 100%;
  padding-right: 18px;
  display: flex;
}

.form {
  padding-top: 10px;
  padding-bottom: 20px;
  display: flex;
}

.search {
  background-color: rgba(200, 200, 200, 1.0);
  width: 100%;
  color: black;
  padding: 10px;
  border-radius: 5px;
  padding-left: 12px;
  border: 2px solid black;
  margin-right: 20px;
}

.add_button {
  border: 2px solid black;
}

.bar {
  background-color: rgba(200, 200, 200, 1.0);
  width: 100%;
  padding-bottom: 12px;
  padding-top: 10px;
}

li.bar {
  padding-left: 10px;
  border: 1px solid black;
  border-radius: 5px;
  width: 100%;
}

ul {
  display: inline;
}

.remove_button {	
  padding: 5px 10px;
  margin-left: 10px;
  border: 1px solid black;
}

.remove_button:hover {	
  border: 1px solid white;
}

.footer {
  position: absolute;
  width: 100%;
  left: 0px;
  bottom: 0px;
  height: 40px;
  color: rgba(0, 0, 0, 0.87);
  text-align: center;
  background: linear-gradient(to left, #99ff99, #029974);
}

.formularz
{
  display: block;
}

.formularz label
{
	color: white;
  margin: 10px auto;
}

.formularz input
{
  margin: 0px 10px;
  width: 50%;
}

.formularz button
{
  margin: 10px auto;
}