:root
{
  color-scheme: dark;
  color: white;
  background-color: #242424;
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

html, body
{
  color-scheme: dark;
  background-color: #242424;
  color: white;
  height: 100%;
  display: flex;
  flex-direction: column;
}

p
{
  font-size: 20px;
}

h1
{
  font-size: 32px;
  color: rgba(255, 255, 255, 0.87);
  text-align: center;
  margin-top: 20px;
}

h2
{
  font-size: 22px;
  margin-top: 6px;
}

button, .login-button, .send-button, .remove-button, .remove-button2
{
  background: linear-gradient(to right, #99ff99, #029974);
  color: white;
  padding: 10px 20px;
  border: 2px solid black;
  border-radius: 5px;
  font-weight: bold;
}

button:hover, .login-button:hover, .send-button:hover, .remove-button:hover, .remove-button2:hover
{
  border: 2px solid white;
}

.logowanie button
{
	margin: 10px 0 0 0;
}

.logowanie input, .kontakt input, .kontakt textarea
{
  background-color: rgba(200, 200, 200, 1.0);
  width: 100%;
  color: black;
  padding: 10px;
  border-radius: 5px;
  padding-left: 12px;
  border: 2px solid black;
}

.kontakt button
{
  margin: 10px 0 0 0;
}

.nav-link
{
  font-size: 1.3em;
}

.navbar
{
  background-color: #535353;
}

.carousel
{
  max-height: 700px;
  margin-top: 20px;
  border: 5px solid;
  border-image: linear-gradient(to left, #99ff99, #029974) 1; 
  overflow: hidden; 
}

.carousel-image
{
  width: 100%;
  object-fit: cover;
}

.card-container
{
	margin-top: 3em;
	max-width: 950px;
}

.card
{
  margin: auto;
  max-width: 950px;
  align-items: center;
  background: linear-gradient(to right, #99ff99, #029974);
  color: rgba(0, 0, 0, 0.87);
  text-align: center;
  padding: 5px;
}

.card-image
{
	width: 100%;
}

.search
{
  width: 100%;
  background-color: rgba(200, 200, 200, 1.0);
  color: black;
  padding: 10px;
  border-radius: 5px;
  padding-left: 12px;
  border: 2px solid black;
  margin-bottom: 10px;
}

.bar
{
  background-color: rgba(200, 200, 200, 1.0);
  padding-bottom: 12px;
  padding-top: 10px;
}

li.bar
{
  padding-left: 10px;
  border: 1px solid black;
  border-radius: 5px;
}

ul
{
  display: inline;
}

.remove-button
{	
	border: 1px solid black;
	margin-left: 10px;
	padding: 5px 10px;
}

.remove-button2
{	
	border: 1px solid black;
	padding: 5px 10px;
}

.remove-button:hover, .remove-button2:hover
{	
	border: 1px solid white;
}

.formularz
{
  display: block;
}

.formularz input
{
  width: 100%;
  background-color: rgba(200, 200, 200, 1.0);
  color: black;
  padding: 10px;
  border-radius: 5px;
  padding-left: 12px;
  border: 2px solid black;
}

.formularz button
{
  margin: 10px 0;
}

.footer
{
  height: 32px;
  color: rgba(0, 0, 0, 0.87);
  text-align: center;
  background: linear-gradient(to left, #99ff99, #029974);
  margin-top: 10px;
}